table {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body {
  background: black;
}
.container {
	width:20vw;
	display: block;
	align-items: center;
	display: flex;
}
td:hover .show {
	opacity: 0;
}

td:hover .hint {
	opacity: 1;
}
.show, .hint {
	position:absolute;
	width:20vw;
}

.orange {
	color:orange;
}
.hint {
	user-select: none;
	opacity: 0;
	color:orange;
	font-size: 20vw;
	text-align: center;
	transition: opacity 400ms ease-in-out 300ms;
}
.show {
	opacity: 1;
	transition: opacity 400ms ease-in-out 400ms;
}
.big {
	font-size: 20vw;
}
.small {
	font-size: 5vw;
}